
body {
    background-color:var(--neutral-100);
    color: var(--clr-neutral-600);
    font-family: var(--ff-nunito);

    display:flex;
    flex-direction: column;



}

main{
    flex:1;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

.logo-image{
    cursor:pointer;
}
 

.hero{
       margin-top:var(--spacing-600);
       padding:var(--spacing-200);
      

   
    .title__hero{
        font: var(--font-1);
        letter-spacing: var(--ls-1);
        color: var(--neutral-900);
         max-inline-size: 15ch;
            margin-top: var(--spacing-600);
            position:relative;
      
        

    }
    .title__hero::before{
       
        content:"";
        display:inline-block;
        width:40%;
        position:absolute;
        left:0;
        height: 30px;
        top:15px;
        background-color: var(--orange-300);
        margin-top: var(--spacing-100);
        z-index:-1;
    }
    .hero__text{
        font: var(--font-6);
        letter-spacing: var(--ls-6);
        color: var(--neutral-600);
        margin-top: var(--spacing-200);
       
        max-inline-size: 34ch;
    }

    .btn{
        display: inline-block;
        
         margin-top: var(--spacing-400);
        background-color: var(--neutral-900);
        font: var(--font-4);
        color: var(--neutral-100);
        padding:var(--spacing-200);
        border-radius: var(--radius-10);
        transition: background-color 0.3s ease;


        &:hover {
            opacity:0.5;
        }
    }
}



.hero__image{
    margin-top:var(--spacing-500);
    border:5px solid var(--neutral-0);
    border-radius: var(--radius-6);
}

//=========================== navigaiton============================


.logo{
  width: 100px;
  height: auto;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color:var(--neutral-100);
  }

.header__inner{
  display: flex;
   justify-content: space-between;
  align-items: center;
 
   border-bottom:1px solid var(--neutral-300);
}
.menu-btn {
    display:none; /* Show hamburger button on mobile */
    
  }
  .menu-btn{
    display:block;
    background:none;
    border:none;
    font-size: 1.8rem;
    cursor:pointer;
    margin-left:auto;
    z-index:2000;
    margin-top:-0.3em;
    padding:var(--spacing-100);
    background-color: var(--neutral-300);
    
}
.container__items--navigation{
 .nav__list {
  position: fixed;
  list-style:none;
  display:flex;
  flex-direction:column;
  background-color: var(--neutral-0);

  // place-content:center;
//   gap:2em;
  top: 70px;
  padding:var(--spacing-200);
  right: -100%; /* hidden off screen */
  width: 100%;
  height: 20vh;
   transition: right 0.3s ease;
  font:var(--font-2);
 


}
}


.nav__list .nav__items {
  display:flex;
  flex-direction:column;
  text-transform: uppercase;
  align-self:flex-start;
  

}


// when menu is open 
.container__items--navigation{
 .nav__list.open {
  right: 0; /* slide in */
}
}

.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:2em;
    
}

.nav__list__item a {
   
    color:var(--neutral-900);
        font: var(--font-5);
    
    
}
.nav__list__item {
    margin-left: 10px;
    font-size: 1.1rem;
  
}

.nav__items__links {
  text-decoration: none;
 

  cursor:pointer;

  font: var(--font-5);
  position: relative;
   
}
.nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav__items__links:hover::after {
  transform: scaleX(1);   
  opacity: 1;
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

// services styles ======================

.service{
    padding:var(--spacing-200);

    .service__title{
        font: var(--font-2);
        letter-spacing: var(--ls-2);
        color: var(--neutral-900);
        margin-bottom: var(--spacing-200);
    }
    .service__list{
        display:flex;
        gap:var(--spacing-300);
        flex-direction:column;
        
        .service__item{

            .service__item__icon{
                border:5px solid var(--neutral-0);
                border-radius: var(--radius-6);
                padding:var(--spacing-050) var(--spacing-100) var(--spacing-100) var(--spacing-050);
                background-color: var(--neutral-0);
                width:60px;
                height:60px;
                display:flex;
                justify-content:center;
                align-items:center;
                margin-bottom:var(--spacing-150)

            }
           
            .service__subtitle{
                font: var(--font-3);
                letter-spacing: var(--ls-3);
                color: var(--neutral-900);
                margin-bottom: var(--spacing-150);
            }
            .service__description{
                font: var(--font-6);
                letter-spacing: var(--ls-6);
                color: var(--neutral-600);
                margin-bottom: var(--spacing-200);
            }
        }


}
}

.intro__services{
    display:flex;
    flex-direction:column;
    padding:var(--spacing-200);
       gap:var(--spacing-300);
    margin-top:var(--spacing-400);
   



    .intro__services__image{
        border:5px solid var(--neutral-0);
        border-radius: var(--radius-6);
        
    }
    .intro__subtitle{
        font: var(--font-2);
        letter-spacing: var(--ls-2);
        color: var(--neutral-900);
    }
    .intro__description{
        font: var(--font-6);
        letter-spacing: var(--ls-6);
        color: var(--neutral-600);
       
        
    }
}

// seciton call to action container================
.recipes__section{
    padding:var(--spacing-200);
}
.call-to-action{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:var(--spacing-300);
    margin-top:var(--spacing-500);
    flex-direction:column;
    background-color:var(--neutral-300);
    padding:var(--spacing-300);
     border-radius:var(--radius-16);

    .call-to-action__title{
        font: var(--font-2);
        letter-spacing: var(--ls-2);
        color: var(--neutral-900);
        text-align:center;
    }
    .call-to-action__description{
        font: var(--font-6);
        letter-spacing: var(--ls-6);
        color: var(--neutral-600);
        text-align:center;
         max-inline-size: 30ch;
    }
    .btn{
        display: inline-block;
        
         margin-top: var(--spacing-400);
        background-color: var(--neutral-900);
        font: var(--font-4);
        color: var(--neutral-100);
        padding:var(--spacing-200);
        border-radius: var(--radius-10);
        transition: background-color 0.3s ease;
        cursor:pointer;
        &:hover {
            opacity:0.5;
        }


}  
}

.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:var(--spacing-300);
    margin-top:var(--spacing-500);
    flex-direction:column;

    .footer__links{
        display:flex;
        flex-direction:row;
        gap:var(--spacing-200);
        list-style:none;
        padding:0;
        margin:0;
        .footer__item{
            .footer__link{
                color: var(--neutral-600);
                font: var(--font-6);
                letter-spacing: var(--ls-6);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--neutral-900);
                }
            }
        }
    }
}
