@media only screen and (min-width: 700px) {

     .hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;

    .title__hero{
        max-inline-size: none;
    }

}

      
 .navigation {
  position:fixed;
  top:70px;

  width:80%;
  transition:right .3s ease;
  background-color:var(--neutral-0);
  padding:var(--spacing-200);
  display:flex;
  flex-direction:column;
  gap:var(--spacing-300);
 transform :translateX(11%);
}

.navigation.open{
    left:0;
    right:0;
}


   .intro__services{
    margin-top:var(--spacing-600);
   }

   .service__list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:var(--spacing-600);
}
    
    .call-to-action{
        position:relative;
        overflow:hidden;

       

    }
    .cta__fork-pattern{
        display:block;
        position:absolute;
        bottom:-37px;
        left:-40px;
        width:250px;
        height:250px
        
    }
    .cta__knife-pattern{
        display:block;
        position:absolute;
        right:-30px;
        bottom:20;
        width:250px;
        height:250px
        
    }
    .footer {
    width: 100%;
}
    .wrapperfooter__item--links{
        display:flex;

        justify-content:space-between;
        gap:var(--spacing-300);
    }
  
//   ===queries reipes styles====
.recipes{
      .wrapper__title__text--recipes{
    width:clamp(300px, 80%,800px);
    margin:0 auto;
    margin-bottom: var(--spacing-1000);

  }

    .title__recipes{
      text-align:center;
    }
    .recipes__text{
            max-inline-size: none;
            text-align: center;;
    }

}

.info__recipe{
    .card-recipe__title{
        margin-top:var(--spacing-300);
    }
}

.servingprep__cook--details {
  display: grid;
  grid-template-areas:"serving prep cook" ;

  gap: var(--spacing-200);
  margin-bottom: var(--spacing-150);
}

.servingprep__cook{
    
    grid-template-areas:"serving prep "
                        "cook    . ";

}

.wrapper__dropdown--menu{
    
    display:grid;
    grid-template-columns: repeat(3, 1fr);

    .dropdown__menu--prepTime{
        grid-column: 1/2;
    }
    .dropdown__menu--cookingTime{
        grid-column: 2/3;
    }
    .search__button{
        grid-column: 3/4;
    }
  }
}

@media only screen and (min-width: 1200px) {
  
//  home page styles queries


.menu-btn {
    display: none;
  }
.hero{
    margin-top:var(--spacing-1800);
}


.service__list{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:var(--spacing-500);
}
.intro__services{
    display:flex;
    flex-direction:row;
    align-items:center;
}
// navigation styles

.header__inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: var(--spacing-1800);


   .nav-logo {
         max-inline-size: none;
   }
}


   

.navigation {
    display: grid;
    position: static;
    flex-direction: row;
    height: auto;
    background: none;
    width: 100%;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--spacing-600);
    grid-template-columns: 1fr auto;
     transform :translateX(0);

   
    

    .nav__list {
    display:flex;
    flex-direction:row;
    gap:0;
  
     

  }  .nav__items {
    margin-left: var(--spacing-400);
    align-self: center;
    font:var(--font-7);
    color:var(--neutral-900);

    .nav__items__links {
        color:var(--neutral-900);
        font: var(--font-7);
    }

  }

  .button-recipes{
    padding:var(--spacing-200) ;
    border-radius: var(--radius-10);
  
  
  }
}

// abput page queries styles
.hero__about{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:var(--spacing-1800);
}
.about__section--info,
.about__section--beyond
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:var(--spacing-500);
}

//  recipes styles queries
.recipes{
        .wrapper__title__text--recipes{
   
    margin:0 auto;
    margin-bottom: var(--spacing-1000);

  }

    .title__recipes{
      text-align:center;
      margin-top:var(--spacing-1800);
    }
    .recipes__text{
            max-inline-size: none;
            text-align: center;
            margin-top:var(--spacing-500);
            max-block-size: 70ch;
    }

}



.wrapper__cardrecipeallcontent{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:var(--spacing-500);
}

// styling about page =============================
.wrapper__about{
  
    margin-top:var(--spacing-1000);
    
}
.wrapper__image{
        border-radius:var(--radius-20);
        overflow:hidden;
        position:relative;
    

 .patternoverhero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: auto;
  z-index: 9999;
  border: 2px solid red;
}

}


// recipes detials styles queries

.recipe-details-section{
    margin-top:var(--spacing-1000);

}
.card__recipe--details{
    display:flex;
   
    gap:var(--spacing-500);
}
.servingprep__cook--details {
  display: grid;
  grid-template-areas:"serving prep cook" ;

  gap: var(--spacing-200);
  margin-bottom: var(--spacing-150);
}

.info__recipe{
    .card-recipe__title{
        margin-top:0;
        max-block-size: 70ch;
    }
}

.wrapper__dropdown--menu{
    
        display:grid;
        grid-template-columns: repeat(4, 1fr);

        .dropdown__menu--prepTime{
            grid-column: 1/2;
        }
        .dropdown__menu--cookingTime{
            grid-column: 2/3;
        }
        .search__button{
            grid-column: 4/5;
        }
}
}