
// card recipes styles

.recipes{
  padding:var(--spacing-150);
    .title__recipes{
        font: var(--font-2);
        letter-spacing: var(--ls-2);
        color: var(--neutral-900);
        
        
        margin-top:var(--spacing-1200);
    }
    .recipes__text{
        font: var(--font-6);
        letter-spacing: var(--ls-6);
        color: var(--neutral-600);
        margin-bottom:var(--spacing-400);
       
        
        margin-top:var(--spacing-100);
}
}
.recipes__list{
   display:flex;
   flex-direction:column;
    gap:var(--spacing-300);
  
    border-radius: var(--radius-10);
}
.card-recipe{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-100);
    border-radius: var(--radius-10);
    border:1px solid var(--neutral-300);
    padding:var(--spacing-100);
    background-color: var(--neutral-0);

        .card-recipe__title {
            font:var(--font-5);
            letter-spacing: var(--ls-4);
            color:var(--neutral-900);
     }

    .card-recipe__image{
        border-radius: var(--radius-6);
        width:100%;
       
        object-fit:cover;
    }
    .card-recipe__description {
        display:flex;
        flex-direction:column;
        gap:var(--spacing-100);
        color:var(--neutral-900);
        font:var(--font-9);
        margin-bottom:var(--spacing-150);


    
    }
  }

.servingprep__cook{
    display:grid;
    grid-template-areas:"serving prep "
                        "cook    . ";
    gap:var(--spacing-200);
    margin-bottom: var(--spacing-150);

    &--serving,
    &--prep,
    &--cook{
        
        gap:var(--spacing-100);
        font: var(--font-9);
        letter-spacing: var(--ls-6);
        color: var(--neutral-800);
    }
    &--serving{
        grid-area: serving;
        display:flex;
        align-items:center;
        gap:var(--spacing-100);
    }
    &--prep{
        grid-area: prep;
        display:flex;
        align-items:center;
        gap:var(--spacing-100);
    }
    &--cook{
        grid-area: cook;
        display:flex;
        align-items:center;
        gap:var(--spacing-100);
   
    
  }
}
.wrapper__dropdown--menu {
    display:flex;
    gap:var(--spacing-200);
    margin-top: var(--spacing-400);
    flex-direction:column;
   
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow-open {
  transform: rotate(180deg);
}



// drpopdown menu styles

.button-recipes{
    display: inline-flex;
    align-items: center;
    background-color: var(--neutral-900);
    color: var(--neutral-100);
    font: var(--font-4);
    padding:var(--spacing-200);
    border-radius: var(--radius-10);
    transition: background-color 0.3s ease;
    border:none;
    cursor:pointer;
    justify-content:center;
    &:hover {
        background-color: var(--neutral-700);
        border:1px solid var(--neutral-900);
        color:var(--neutral-900);
    }

   
 


}

.button-recipes{
    display: inline-flex;
    align-items: center;
        font: var(--font-7);
        padding:var(--spacing-200);
        border-radius: var(--radius-24);
        align-items: center;
        justify-content: center;


    }
    &:hover{
          background-color: var(--neutral-700);
        border:1px solid var(--neutral-900);
        color:var(--neutral-900);
    }




.menu {
    position: relative;
    display: inline-block;
    display:flex;
    flex-direction:column;

    
}

.menu-button {
    background-color: var(--neutral-0);
    display:flex;
    align-items:center;
    justify-content:center;
    gap:var(--spacing-200);
    padding:var(--spacing-100);
    border-radius: var(--radius-10);
    border:1px solid var(--neutral-300);
    font: var(--font-7);
    color: var(--neutral-900);
    width:100%;
    cursor:pointer;
    transition: background-color 0.3s ease;
    
}

.menu-dropdown {
    position: absolute;
    left: 0;
    margin-top: var(--spacing-600);
    width:100%;
    background-color: var(--neutral-0);
    z-index:5;
    
}

.menu-item {
    color: var(--neutral-900);
    font: var(--font-7);
    padding: var(--spacing-100);
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover {
    background-color: whitesmoke;
}

.search__button{
  position:relative;
  margin-bottom:var(--spacing-300);
  width:100%;

  .search__icon{
        position:absolute;
        right: var(--spacing-200);
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        left:5px;
        height: 20px;
        
    }
}

.search__input{
    padding: var(--spacing-100);
    border-radius: var(--radius-10);
    border:1px solid var(--neutral-300);
    font: var(--font-7);
    color: var(--neutral-900);
    width:100%;
    transition: background-color 0.3s ease;
     padding-left: var(--spacing-300);
   
  

    
  }

  .card-recipe__ingredients-instructions.open{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-100);
    font: var(--font-9);
    letter-spacing: var(--ls-6);
    color: var(--neutral-800);
  }
.card-recipe__ingredients-instructions{
    display:none;
}