@charset "UTF-8";
@font-face {
  font-family: "Nunito";
  src: url("./../assets/fonts/Nunito/static/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./../assets/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./../assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./../assets/fonts/Nunito-Sans/static/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./../assets/fonts/Nunito-Sans/static/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  display: flex;
  flex-direction: column;
}

:where(body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
dl, dd,
figure,
blockquote) {
  margin: 0;
}

:where(ul, ol) {
  padding: 0;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

fieldset {
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.recipe-details__arrow {
  width: 100%;
  max-width: 24px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.max-container {
  max-width: 1500px;
  margin: 0 auto;
}

:root {
  --neutral-900:hsl(164,45%,16%);
  --neutral-800:hsl(165,32%,20%);
  --neutral-600:hsl(166,22%,28%);
  --neutral-300:hsl(160,13%,84%);
  --neutral-200:hsl(150,10%,89%);
  --neutral-100:hsl(45,20%,95%);
  --neutral-0:hsl(0,0%,100%);
  --orange-500:hsl(21,98%,71%);
  --orange-300:hsl(21, 80%, 81%);
  --teal-500:hsl(170,40%,48%);
  --indigo-500:hsl(230,62%,64%);
  --ff-nunito: 'Nunito', sans-serif;
  --ff-nunito-sans: 'Nunito Sans', sans-serif;
  /* =========================
     FONT WEIGHTS
  ========================== */
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /* =========================
     FONT SIZES
  ========================== */
  /* 52px → 72px */
  --fs-900: clamp(3.25rem, 2.8rem + 1.8vw, 4.5rem);
  /* 40px → 48px */
  --fs-800: clamp(2.5rem, 2.2rem + 1vw, 3rem);
  /* 28px → 32px */
  --fs-700: clamp(1.75rem, 1.6rem + 0.6vw, 2rem);
  /* 22px → 24px */
  --fs-600: clamp(1.375rem, 1.2rem + 0.5vw, 1.5rem);
  /* 18px → 20px */
  --fs-500: clamp(1.225rem, 1rem + 0.4vw, 1.35rem);
  /* 16px → 18px */
  --fs-400: clamp(1rem, 0.9rem + 0.3vw, 1.125rem);
  /* 16px */
  --fs-300: 1rem;
  /* 14px */
  --fs-200: 0.875rem;
  /* =========================
     FONT 1
     Nunito ExtraBold
     52px → 72px
     line-height: 110%
     letter-spacing: -2px
  ========================== */
  --font-1: var(--fw-800) var(--fs-900) / 1.1 var(--ff-nunito);
  --ls-1: -0.125rem;
  /* =========================
     FONT 2
     Nunito ExtraBold
     40px → 48px
     line-height: 120%
     letter-spacing: -2px
  ========================== */
  --font-2: var(--fw-800) var(--fs-800) / 1.2 var(--ff-nunito);
  --ls-2: -0.125rem;
  /* =========================
     FONT 3
     Nunito Bold
     28px → 32px
     line-height: 130%
     letter-spacing: -1px
  ========================== */
  --font-3: var(--fw-700) var(--fs-700) / 1.3 var(--ff-nunito);
  --ls-3: -0.0625rem;
  /* =========================
     FONT 4
     Nunito Bold
     22px → 24px
     line-height: 130%
     letter-spacing: -1px
  ========================== */
  --font-4: var(--fw-700) var(--fs-600) / 1.3 var(--ff-nunito);
  --ls-4: -0.0625rem;
  /* =========================
     FONT 5
     Nunito Bold
     18px → 20px
     line-height: 140%
     letter-spacing: -0.5px
  ========================== */
  --font-5: var(--fw-700) var(--fs-500) / 1.4 var(--ff-nunito);
  --ls-5: -0.03125rem;
  /* =========================
     FONT 6
     Nunito Sans Medium
     18px → 20px
     line-height: 150%
     letter-spacing: -0.4px
  ========================== */
  --font-6: var(--fw-500) var(--fs-500) / 1.5 var(--ff-nunito-sans);
  --ls-6: -0.025rem;
  /* =========================
     FONT 7
     Nunito SemiBold
     16px → 18px
     line-height: 150%
     letter-spacing: -0.3px
  ========================== */
  --font-7: var(--fw-600) var(--fs-400) / 1.5 var(--ff-nunito);
  --ls-7: -0.01875rem;
  /* =========================
     FONT 8
     Nunito Sans Bold
     16px
     line-height: 150%
     letter-spacing: -0.3px
  ========================== */
  --font-8: var(--fw-700) var(--fs-300) / 1.5 var(--ff-nunito-sans);
  --ls-8: -0.01875rem;
  /* =========================
     FONT 9
     Nunito Sans Medium
     16px
     line-height: 150%
     letter-spacing: -0.3px
  ========================== */
  --font-9: var(--fw-500) var(--fs-300) / 1.5 var(--ff-nunito-sans);
  --ls-9: -0.01875rem;
  /* =========================
     FONT 10
     Nunito Sans Bold
     14px
     line-height: 150%
     letter-spacing: -0.3px
  ========================== */
  --font-10: var(--fw-700) var(--fs-200) / 1.5 var(--ff-nunito-sans);
  --ls-10: -0.01875rem;
  /* =========================
     SPACING
  ========================== */
  --spacing-025: 0.125rem; /* 2px */
  --spacing-050: 0.25rem; /* 4px */
  --spacing-075: 0.375rem; /* 6px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-125: 0.625rem; /* 10px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1200: 6rem; /* 96px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-1800: 8.75rem; /* 140px */
  /* =========================
     BORDER RADIUS
  ========================== */
  --radius-4: 0.25rem; /* 4px */
  --radius-6: 0.375rem; /* 6px */
  --radius-8: 0.5rem; /* 8px */
  --radius-10: 0.625rem; /* 10px */
  --radius-12: 0.75rem; /* 12px */
  --radius-16: 1rem; /* 16px */
  --radius-20: 1.25rem; /* 20px */
  --radius-24: 1.5rem; /* 24px */
  --radius-full: 62.4375rem; /* 999px */
}

body {
  background-color: var(--neutral-100);
  color: var(--clr-neutral-600);
  font-family: var(--ff-nunito);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-image {
  cursor: pointer;
}

.hero {
  margin-top: var(--spacing-600);
  padding: var(--spacing-200);
  position: relative;
  overflow: hidden;
}
.hero .hero__background-pattern {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: none;
  bottom: 0;
  z-index: -1;
}
.hero .title__hero {
  font: var(--font-1);
  letter-spacing: var(--ls-1);
  color: var(--neutral-900);
  max-inline-size: 15ch;
  margin-top: var(--spacing-600);
  position: relative;
}
.hero .title__hero::before {
  content: "";
  display: inline-block;
  width: 40%;
  position: absolute;
  height: 40px;
  top: 15px;
  background-color: var(--orange-300);
  margin-top: var(--spacing-100);
  z-index: -1;
}
.hero .hero__text {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
  margin-top: var(--spacing-200);
  max-inline-size: 34ch;
}
.hero .btn {
  display: inline-block;
  margin-top: var(--spacing-400);
  background-color: var(--neutral-900);
  font: var(--font-4);
  color: var(--neutral-100);
  padding: var(--spacing-200);
  border-radius: var(--radius-10);
  transition: background-color 0.3s ease;
}
.hero .btn:hover {
  opacity: 0.5;
}

.hero__image {
  margin-top: var(--spacing-500);
  border: 5px solid var(--neutral-0);
  border-radius: var(--radius-6);
}

.nav-logo {
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--neutral-100);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-200) var(--spacing-100) var(--spacing-100) var(--spacing-200);
  border-bottom: 1px solid var(--neutral-300);
}

.menu-btn {
  display: none; /* Show hamburger button on mobile */
}

.menu-btn {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  z-index: 2000;
  margin-top: -0.3em;
  padding: var(--spacing-100);
  background-color: var(--neutral-300);
}

.navigation {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  transition: right 0.3s ease;
  background-color: var(--neutral-0);
  padding: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.nav__list .nav__items {
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.navigation .button-recipes {
  width: 100%;
}

.navigation.open {
  right: 0; /* slide in */
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.nav__list__item a {
  color: var(--neutral-900);
  font: var(--font-7);
  text-decoration: none;
}

.nav__list__item {
  margin-left: 10px;
  font-size: 1.1rem;
}

.navigation .nav__items__links {
  text-decoration: none;
  cursor: pointer;
  font: var(--font-7);
  position: relative;
  display: inline-block;
}
.navigation .nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-500);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.navigation .nav__items__links:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

.service {
  padding: var(--spacing-200);
}
.service .service__title {
  font: var(--font-2);
  margin-top: var(--spacing-200);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
  margin-bottom: var(--spacing-600);
}
.service .service__list .service__item .service__item__icon {
  border: 5px solid var(--neutral-0);
  border-radius: var(--radius-6);
  padding: var(--spacing-050) var(--spacing-100) var(--spacing-100) var(--spacing-050);
  background-color: var(--neutral-0);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-150);
}
.service .service__list .service__item .service__subtitle {
  font: var(--font-3);
  letter-spacing: var(--ls-3);
  color: var(--neutral-900);
  margin-bottom: var(--spacing-150);
}
.service .service__list .service__item .service__description {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
  margin-bottom: var(--spacing-200);
}

.intro__services {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-200);
  gap: var(--spacing-300);
  margin-top: var(--spacing-200);
}
.intro__services .intro__services__image {
  border: 5px solid var(--neutral-0);
  border-radius: var(--radius-6);
}
.intro__services .intro__subtitle {
  margin-top: var(--spacing-400);
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}
.intro__services .intro__description {
  margin-top: var(--spacing-300);
  font: var(--font-6);
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
}

span.minutes {
  position: relative;
  display: inline-block;
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-900);
  font-weight: 900;
}
span.minutes::before {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 20px;
  top: 50%;
  background-color: var(--orange-300);
  z-index: -1;
}

.recipes__section {
  padding: var(--spacing-200);
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
  margin-top: var(--spacing-500);
  flex-direction: column;
  background-color: var(--neutral-200);
  padding: var(--spacing-300);
  border-radius: var(--radius-16);
}
.call-to-action .call-to-action__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
  text-align: center;
}
.call-to-action .call-to-action__description {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
  text-align: center;
  max-inline-size: 30ch;
}
.call-to-action .btn {
  display: inline-block;
  margin-top: var(--spacing-400);
  background-color: var(--neutral-900);
  font: var(--font-4);
  color: var(--neutral-100);
  padding: var(--spacing-200);
  border-radius: var(--radius-10);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.call-to-action .btn:hover {
  opacity: 0.5;
}

.cta__fork-pattern,
.cta__knife-pattern {
  display: none;
}

.footer {
  width: 100%;
  margin-top: var(--spacing-500);
}
.footer .wrapperfooter__item--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-300);
  align-items: center;
}
.footer .footer__links {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer__links .footer__item .footer__link {
  color: var(--neutral-600);
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  transition: color 0.3s ease;
}
.footer .footer__links .footer__item .footer__link:hover {
  color: var(--neutral-900);
}

.about {
  padding: var(--spacing-200);
  margin-top: var(--spacing-800);
}

.wrapper_text .small__title {
  font: var(--font-5);
  letter-spacing: var(--ls-5);
  color: var(--neutral-900);
  background-color: var(--orange-500);
  display: inline-block;
  margin-top: var(--spacing-600);
  margin-bottom: var(--spacing-300);
}
.wrapper_text .about__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}
.wrapper_text .about__text {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-900);
  margin-top: var(--spacing-200);
  max-inline-size: 80ch;
}

.wrapper__image {
  margin-top: var(--spacing-500);
  border-radius: var(--radius-20);
  overflow: hidden;
  position: relative;
}
.wrapper__image .patternoverhero {
  display: none;
  position: absolute;
}
.wrapper__image .about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius-20);
  aspect-ratio: 1/1;
}

.about__section--info {
  margin-top: var(--spacing-800);
  padding: var(--spacing-200);
}
.about__section--info .about__subtitle {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}
.about__section--info .about__text {
  margin-top: var(--spacing-500);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.about__section--info .about__text .wrapper__info--item {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-300);
}
.about__section--info .about__text .wrapper__subtitle--description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}
.about__section--info .about__text .about__subtitle--info {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  color: var(--neutral-900);
}
.about__section--info .about__text .about__description--info {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-800);
}

.about__section--beyond {
  padding: var(--spacing-200);
  margin-top: var(--spacing-800);
}
.about__section--beyond .beyond__text {
  margin-bottom: var(--spacing-600);
}
.about__section--beyond .beyond__text .about__beyond--subtitle {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}
.about__section--beyond .beyond__text .about__beyond--text {
  margin-top: var(--spacing-200);
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-900);
}
.about__section--beyond .beyond__text .about__beyond--list {
  margin-top: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.about__section--beyond .beyond__text .about__beyond--list .about__list__item {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-900);
  list-style-position: inside;
  padding-left: var(--spacing-100);
  list-style-type: disc;
}

.image__beyond .about__image--beyond {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius-20);
  width: 100%;
}

.recipes padding:var(--spacing-150) .wrapper__title__text--recipes {
  margin-top: var(--spacing-400);
  margin-bottom: var(--spacing-4000);
}
.recipes padding:var(--spacing-150) .wrapper__title__text--recipes .title__recipes {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
  margin-top: var(--spacing-1200);
}
.recipes padding:var(--spacing-150) .wrapper__title__text--recipes .recipes__text {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
  margin-bottom: var(--spacing-400);
  margin-top: var(--spacing-100);
}

.recipes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-300);
  border-radius: var(--radius-10);
}

.card-recipe {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  border-radius: var(--radius-10);
  border: 1px solid var(--neutral-300);
  padding: var(--spacing-100);
  background-color: var(--neutral-0);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-recipe:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.card-recipe .card-recipe__title {
  font: var(--font-5);
  letter-spacing: var(--ls-4);
  color: var(--neutral-900);
}
.card-recipe .card-recipe__image {
  border-radius: var(--radius-6);
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-recipe .card-recipe__description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  color: var(--neutral-900);
  font: var(--font-9);
  margin-bottom: var(--spacing-150);
}

.servingprep__cook {
  display: grid;
  grid-template-areas: "serving prep " "cook    . ";
  gap: var(--spacing-200);
  margin-bottom: var(--spacing-150);
}
.servingprep__cook--serving, .servingprep__cook--prep, .servingprep__cook--cook {
  gap: var(--spacing-100);
  font: var(--font-9);
  letter-spacing: var(--ls-6);
  color: var(--neutral-800);
}
.servingprep__cook--serving {
  grid-area: serving;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}
.servingprep__cook--prep {
  grid-area: prep;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}
.servingprep__cook--cook {
  grid-area: cook;
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  padding: var(--spacing-150);
}
.not-found .not-found__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}
.not-found .not-found__description {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-600);
  text-align: center;
}

.wrapper__dropdown--menu {
  display: flex;
  gap: var(--spacing-200);
  margin-top: var(--spacing-400);
  flex-direction: column;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow-open {
  transform: rotate(180deg);
}

.button-recipes {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--neutral-900);
  color: var(--neutral-100);
  font: var(--font-4);
  padding: var(--spacing-200);
  border-radius: var(--radius-10);
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  justify-content: center;
}
.button-recipes:hover {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-900);
  color: var(--neutral-900);
}

.card-recipe__link {
  width: 100%;
  display: flex;
  margin-top: auto;
}

.button-recipes--small {
  font: var(--font-7);
  padding: var(--spacing-200);
  border-radius: var(--radius-24);
  align-items: center;
  justify-content: center;
}
.button-recipes:hover {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-900);
  color: var(--neutral-900);
}

.menu {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.menu-button {
  background-color: var(--neutral-0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  padding: var(--spacing-100);
  border-radius: var(--radius-10);
  border: 1px solid var(--neutral-300);
  font: var(--font-7);
  color: var(--neutral-900);
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: var(--spacing-600);
  width: 100%;
  background-color: var(--neutral-0);
  z-index: 5;
}

.menu-item {
  color: var(--neutral-900);
  font: var(--font-7);
  padding: var(--spacing-100);
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.search__button {
  position: relative;
  margin-bottom: var(--spacing-300);
  width: 100%;
}
.search__button .search__icon {
  position: absolute;
  right: var(--spacing-200);
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  left: 5px;
  height: 20px;
}

.search__input {
  padding: var(--spacing-100);
  border-radius: var(--radius-10);
  border: 1px solid var(--neutral-300);
  font: var(--font-7);
  color: var(--neutral-900);
  width: 100%;
  transition: background-color 0.3s ease;
  padding-left: var(--spacing-300);
}

.search__input:focus {
  outline: none;
  border-color: var(--neutral-900);
  background-color: var(--neutral-50);
}

.breadcrumb {
  display: flex;
  gap: var(--spacing-100);
  font: var(--font-7);
  letter-spacing: var(--ls-7);
  color: var(--neutral-600);
  margin-bottom: var(--spacing-300);
  margin-top: var(--spacing-1000);
  padding: var(--spacing-100);
  cursor: pointer;
}
.breadcrumb .breadcrumb__link {
  color: var(--neutral-600);
  font: var(--font-7);
  letter-spacing: var(--ls-7);
  text-decoration: none;
}

.breadcrumb__current {
  position: relative;
}

.breadcrumb__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-500);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.breadcrumb__current:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.card__recipe--details {
  background-color: var(--neutral-100);
  border-radius: var(--radius-10);
  padding: var(--spacing-150);
  border: none;
  box-shadow: none;
  border: none;
}
.card__recipe--details:hover {
  transform: none;
  box-shadow: none;
}

.card-recipe__image-wrapper {
  overflow: hidden;
}
.card-recipe__image-wrapper .card-recipe__image {
  border-radius: var(--radius-6);
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__recipe .card-recipe__title {
  font: var(--font-2);
  letter-spacing: var(--ls-2);
  color: var(--neutral-900);
}

.info__recipe .card-recipe__description {
  font: var(--font-6);
  letter-spacing: var(--ls-6);
  color: var(--neutral-900);
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-300);
}

.recipe-details__ingredients {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  margin-top: var(--spacing-200);
}
.recipe-details__ingredients .recipe-details__title {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  color: var(--neutral-900);
}

.ing__item {
  display: flex;
  gap: var(--spacing-100);
  color: var(--neutral-900);
  font: var(--font-6);
  letter-spacing: var(--ls-6);
}

.recipe-details__instructions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  margin-top: var(--spacing-200);
}
.recipe-details__instructions .Instructions__title {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  color: var(--neutral-900);
}
.recipe-details__instructions .inst__item {
  display: flex;
  gap: var(--spacing-100);
  color: var(--neutral-900);
  font: var(--font-6);
  letter-spacing: var(--ls-6);
}

.other__recipes {
  margin-top: var(--spacing-600);
  padding: var(--spacing-200);
}
.other__recipes .other__recipes--title {
  font: var(--font-4);
  letter-spacing: var(--ls-4);
  color: var(--neutral-900);
  margin-bottom: var(--spacing-300);
}
.other__recipes .other__recipes--list {
  display: flex;
  gap: var(--spacing-300);
  flex-direction: column;
}
.other__recipes .other__recipes--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-300);
}

@media only screen and (min-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .title__hero {
    max-inline-size: none;
  }
  .navigation {
    position: fixed;
    top: 70px;
    width: 80%;
    transition: right 0.3s ease;
    background-color: var(--neutral-0);
    padding: var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    transform: translateX(11%);
  }
  .navigation.open {
    left: 0;
    right: 0;
  }
  .intro__services {
    margin-top: var(--spacing-600);
  }
  .service__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-600);
  }
  .call-to-action {
    position: relative;
    overflow: hidden;
  }
  .cta__fork-pattern {
    display: block;
    position: absolute;
    bottom: -37px;
    left: -40px;
    width: 250px;
    height: 250px;
  }
  .cta__knife-pattern {
    display: block;
    position: absolute;
    right: -30px;
    bottom: 20;
    width: 250px;
    height: 250px;
  }
  .footer {
    width: 100%;
  }
  .wrapperfooter__item--links {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-300);
  }
  .recipes .wrapper__title__text--recipes {
    width: 80vh;
    margin: 0 auto;
    margin-bottom: var(--spacing-1000);
  }
  .recipes .title__recipes {
    text-align: center;
  }
  .recipes .recipes__text {
    max-inline-size: none;
    text-align: center;
  }
  .info__recipe .card-recipe__title {
    margin-top: var(--spacing-300);
  }
  .servingprep__cook--details {
    display: grid;
    grid-template-areas: "serving prep cook";
    gap: var(--spacing-200);
    margin-bottom: var(--spacing-150);
  }
  .servingprep__cook {
    grid-template-areas: "serving prep " "cook    . ";
  }
  .wrapper__dropdown--menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .wrapper__dropdown--menu .dropdown__menu--prepTime {
    grid-column: 1/2;
  }
  .wrapper__dropdown--menu .dropdown__menu--cookingTime {
    grid-column: 2/3;
  }
  .wrapper__dropdown--menu .search__button {
    grid-column: 3/4;
  }
}
@media only screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
  .hero {
    margin-top: var(--spacing-1800);
  }
  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-500);
  }
  .intro__services {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-1800);
  }
  .header__inner .nav-logo {
    max-inline-size: none;
  }
  .navigation {
    display: grid;
    position: static;
    flex-direction: row;
    height: auto;
    background: none;
    width: 100%;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--spacing-600);
    grid-template-columns: 1fr auto;
  }
  .navigation .nav__list {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .navigation .nav__items {
    margin-left: var(--spacing-400);
    align-self: center;
    font: var(--font-7);
    color: var(--neutral-900);
  }
  .navigation .nav__items .nav__items__links {
    color: var(--neutral-900);
    font: var(--font-7);
  }
  .navigation .button-recipes {
    padding: var(--spacing-200);
    border-radius: var(--radius-10);
  }
  .hero__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-1800);
  }
  .about__section--info,
  .about__section--beyond {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-500);
  }
  .recipes .title__recipes {
    text-align: center;
    margin-top: var(--spacing-1800);
  }
  .recipes .recipes__text {
    max-inline-size: none;
    text-align: center;
    margin-top: var(--spacing-500);
    max-block-size: 70ch;
  }
  .wrapper__cardrecipeallcontent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-500);
  }
  .wrapper__about {
    margin-top: var(--spacing-1000);
  }
  .wrapper__image {
    border-radius: var(--radius-20);
    overflow: hidden;
    position: relative;
  }
  .wrapper__image .patternoverhero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: auto;
    z-index: 9999;
    border: 2px solid red;
  }
  .recipe-details-section {
    margin-top: var(--spacing-1000);
  }
  .card__recipe--details {
    display: flex;
    gap: var(--spacing-500);
  }
  .servingprep__cook--details {
    display: grid;
    grid-template-areas: "serving prep cook";
    gap: var(--spacing-200);
    margin-bottom: var(--spacing-150);
  }
  .info__recipe .card-recipe__title {
    margin-top: 0;
    max-block-size: 70ch;
  }
  .wrapper__dropdown--menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .wrapper__dropdown--menu .dropdown__menu--prepTime {
    grid-column: 1/2;
  }
  .wrapper__dropdown--menu .dropdown__menu--cookingTime {
    grid-column: 2/3;
  }
  .wrapper__dropdown--menu .search__button {
    grid-column: 4/5;
  }
}/*# sourceMappingURL=index.css.map */